.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
crash.log
crash.*
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
tfplan
*.plan
.terraform/
.DS_Store
